<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ee.tuum.banking.account.AccountMapper">
    <insert id="insert">
        INSERT INTO accounts (id, customer_id, country, created_at, updated_at)
        VALUES (#{id}, #{customerId}, #{country}, #{createdAt}, #{updatedAt})
    </insert>

    <select id="findById" resultType="ee.tuum.banking.domain.Account">
        SELECT id, customer_id, country, created_at, updated_at
        FROM accounts
        WHERE id = #{id}
    </select>

    <select id="existsById" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM accounts WHERE id = #{id})
    </select>
</mapper>
